body{
 color: gold;  
background-color:royalblue;
padding: 20px;
line-height: 1.6;
}

h1, h2, h3,{
margin: 10px 0;
font-weight: 700;
}

.selo{
background-color:gold;
color:royalblue;
padding: 7px 15px;
font-size: 14px;
border-radius: 12px;
}

.destaque{
font-weight: 700;
color: ;


}